<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<filter>
		<filter-name>ProjectFilter</filter-name>
		<filter-class>com.gu.upload.tools.ProjectFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>ProjectFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>StaticTextEditor</servlet-name>
		<servlet-class>com.gu.upload.tools.StaticTextCreateAndEditServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProjectEditor</servlet-name>
		<servlet-class>com.gu.upload.tools.ProjectCreateAndEditServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StaticFileEditor</servlet-name>
		<servlet-class>com.gu.upload.tools.StaticFileCreateAndEditServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StaticTextList</servlet-name>
		<servlet-class>com.gu.upload.tools.StaticTextListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StaticFileList</servlet-name>
		<servlet-class>com.gu.upload.tools.StaticFileListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StaticText</servlet-name>
		<servlet-class>com.gu.upload.staticfile.StaticTextServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Proxy</servlet-name>
		<servlet-class>com.gu.upload.proxy.ProxyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StaticFile</servlet-name>
		<servlet-class>com.gu.upload.staticfile.StaticFileServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>StaticFileJson</servlet-name>
        <servlet-class>com.gu.upload.staticfile.StaticFileJsonServlet</servlet-class>
    </servlet>

	<servlet-mapping>
		<servlet-name>StaticTextList</servlet-name>
		<url-pattern>/admin/statictext/list</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>StaticFileList</servlet-name>
		<url-pattern>/admin/staticfile/list</url-pattern>
	</servlet-mapping>

	<!-- 
		/admin/statictext/new
		/admin/statictext/1234
	-->	
	<servlet-mapping>
		<servlet-name>StaticTextEditor</servlet-name>
		<url-pattern>/admin/statictext/*</url-pattern>
	</servlet-mapping>
	
	<!-- 
		/admin/staticfile/new
		/admin/staticfile/upload
	-->	
	<servlet-mapping>
		<servlet-name>StaticFileEditor</servlet-name>
		<url-pattern>/admin/staticfile/*</url-pattern>
	</servlet-mapping>
	
	<!-- 
		/admin/project/new
		/admin/project/1234
	-->	
	<servlet-mapping>
		<servlet-name>ProjectEditor</servlet-name>
		<url-pattern>/admin/project/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>StaticText</servlet-name>
		<url-pattern>/statictext/*</url-pattern>
	</servlet-mapping>

    <!--
        /staticfile/json/all
        /staticfile/json/path-of-file
    -->
    <servlet-mapping>
        <servlet-name>StaticFileJson</servlet-name>
        <url-pattern>/staticfile/json/*</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
		<servlet-name>StaticFile</servlet-name>
		<url-pattern>/staticfile/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Proxy</servlet-name>
		<url-pattern>/proxy</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
